*{
    margin: 0;
    padding: 0;
}
body{
display: flex;
justify-content: center;
align-items: center;
background-color: #C6B89E;
min-height:100vh;
}
.container{
    padding: 1rem;
    border-radius: 1rem;
    min-height: 80vh;
    width: 65vh;
    background-color: #D58936;
    border-radius: 2rem;

}
.amount{
     margin: 0 0 1rem 0;
     height: 100%;
}
input{
    width:100%;
    border:none;
    outline: none;
    border-radius: 0.75rem;
}
.amount input{
    border: 1px solid lightgray;
    font-size: 2rem;
    height: 3rem;
    padding-right: 0.5rem;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: bold 2rem;
}
.number{
  height:100%;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vmin;
  box-sizing: border-box;
}
.num{
    width:5rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    box-sizing: border-box;
    margin-top: 1.7rem;
}
